<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="${basedir}\logInternal.txt" internalLogLevel="Trace">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target name="LogFile" xsi:type="File"
            fileName="${basedir}\Log.txt"
            layout="${longdate}|${level}|${logger}|${message} ${exception:innerFormat=Message,StackTrace}"
            archiveFileName="${basedir}/archives/log.{#####}.txt"
            archiveAboveSize="1048576"
            maxArchiveFiles="5"
 />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>